body{background-color:yellowgreen;}
li{
    display:inline;
}
a {
  background-color: blue;
  transition: background-color .5s;
}
a:hover {
  background-color: red;
}
.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
